a:focus, a:active {
    outline: 0 none;
}

/* GLOBAL
------------------------------------------------------- */
#us_zilla-popup {
	width: 570px;
	font: 12px/20px Arial, Helvetica, sans-serif;
	overflow: hidden;
}
#us_zilla-popup * {
	font: 12px/20px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}

/* form side */
#us_zilla-sc-form-wrap {
	width: 570px;
	float: left;
}
#us_zilla-sc-form-wrap #us_zilla-sc-form-head {
	width: 520px;
	padding: 15px 20px;
	color: #fff;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 0 #000;
	background-color: #404040;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#393939)); 
	background-image: -webkit-linear-gradient(top, #404040, #393939); 
	background-image: -moz-linear-gradient(top, #404040, #393939); 
	background-image: -ms-linear-gradient(top, #404040, #393939); 
	background-image: -o-linear-gradient(top, #404040, #393939); 
	background-image: linear-gradient(top, #404040, #393939);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#404040', EndColorStr='#393939');
}
#us_zilla-popup.no_preview #us_zilla-sc-form-wrap #us_zilla-sc-form-head {
	width: 530px;
}
#us_zilla-sc-form-wrap #us_zilla-sc-form {
	padding: 15px;
}

/* FORM
------------------------------------------------------- */

#us_zilla-sc-form-table {
	width: 530px;
}
#us_zilla-sc-form-table tbody tr.form-row {
	display: block;
	padding: 5px 0;
}
#us_zilla-sc-form-table tbody:last-child tr.form-row {
	border-bottom: none;
}
#us_zilla-sc-form-table tbody tr.form-row .label {
	width: 115px;
	text-align: left;
	vertical-align: top;
	line-height: 35px;
	padding-right: 20px;
	color: #406a80;
}
#us_zilla-sc-form-table tbody tr.form-row .field {
	width: 370px;
}
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-insert {
	color: #fff;
}

/* child rows, sortable */
#us_zilla-sc-form-table .has-child #form-child-add {
	display: block;
	width: 520px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0;
	height: 30px;
	line-height: 30px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
#us_zilla-sc-form-table .has-child .child-clone-rows {
	display: block;
}
#us_zilla-sc-form-table .has-child .child-clone-rows .child-clone-row {
	padding: 8px 15px;
	background: #f5f5f5;
	border: solid 1px #ddd;
	margin-bottom: 10px;
	cursor: move;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#us_zilla-sc-form-table .has-child .sortable-placeholder {
	border: dashed 2px #ddd;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f5f5f5;
	height: 40px;
}
#us_zilla-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-form {
	display: block;
}
#us_zilla-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-form .child-clone-row-form-row {
	display: block;
	padding: 7px 0;
}
#us_zilla-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-form .child-clone-row-form-row .child-clone-row-label label {
	display: block;
	padding: 0 0 7px 1px;
	line-height: 1;
	color: #406a80;
}
#us_zilla-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-remove {
	color: #FF0000;
	padding: 1px;
}
#us_zilla-sc-form-table .has-child .child-clone-rows .child-clone-row .child-clone-row-remove:hover {
	color: #fff;
	background: #FF0000;
}

/* form elements */

/* - all */
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-form-text,
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-form-textarea,
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-form-select {
	width: 370px;
	padding: 4px;
	background-color: #f1f1f1;
	border: 1px solid;
	border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-form-text:hover,
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-form-textarea:hover,
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-form-select:hover {
	background-color: #f7f7f7;
}
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-form-text:focus,
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-form-textarea:focus,
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-form-select:focus {
	background-color: #fff;
	border-color: #08c;
	outline: 0;
	box-shadow: none;
}
#us_zilla-sc-form-table tbody tr.form-row.has-child .us_zilla-form-text,
#us_zilla-sc-form-table tbody tr.form-row.has-child .us_zilla-form-textarea,
#us_zilla-sc-form-table tbody tr.form-row.has-child .us_zilla-form-select {
	background: #fff;
	width: 485px;
}
#us_zilla-sc-form-table tbody tr.form-row.has-child .us_zilla-form-text:hover,
#us_zilla-sc-form-table tbody tr.form-row.has-child .us_zilla-form-textarea:hover,
#us_zilla-sc-form-table tbody tr.form-row.has-child .us_zilla-form-select:hover {
	background-color: #fff;
	border-color: #ccc;
}
#us_zilla-sc-form-table tbody tr.form-row.has-child .us_zilla-form-text:focus,
#us_zilla-sc-form-table tbody tr.form-row.has-child .us_zilla-form-textarea:focus,
#us_zilla-sc-form-table tbody tr.form-row.has-child .us_zilla-form-select:focus {
	border-color: #08c;
}

/* - textarea */
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-form-textarea {
	height: 120px;
}
#us_zilla-sc-form-table tbody tr.form-row.has-child .us_zilla-form-textarea {
	height: 100px;
}

/* - select */
#us_zilla-sc-form-table tbody tr.form-row .us_zilla-form-select {
	display: block;
	height: 30px;
}
#us_zilla-sc-form-table tbody tr.form-row.has-child .us_zilla-form-select {
	width: auto;
	height: 30px;
}

/* - desc */
#us_zilla-sc-form-table tbody tr.form-row .field .us_zilla-form-desc,
#us_zilla-sc-form-table tbody tr.form-row .child-clone-row-desc {
	display: block;
	font-size: 11px;
	color: #aaa;
	padding: 3px 0 0 5px;
	line-height: 16px;
}

/* Hide outline on focus */
#content_us_zilla_button { outline: none; }

#us_zilla-popup .button-primary {
	line-height: 22px;
}

.us_zilla-sc-form-wrap {
	max-height: 500px;
	overflow: auto;
	padding-right: 20px;
}