/*!
 * WordPress Widget Styles
 */

.widgettitle {
	font: 20px/28px 'Cuprum', Tahoma, sans-serif;
	margin-bottom: 20px;
	}
.g-html .widget ul {
	list-style-type: none;
	margin: 0;
	}
	.g-html .widget ul li {
		margin: 0;
		padding: 0;
		}

/* ====================================
====== Archives =======================
==================================== */
.widget.widget_archive ul li {
	padding: 10px 20px;
	font-size: 15px;
	line-height: 20px;
	border-bottom: 1px solid #ddd;
	position: relative;
	}
	.l-subfooter .widget.widget_archive ul li {
		border-color: #333;
		}
	.widget.widget_archive ul li:before {
		display: block;
		content: '';
		height: 9px;
		width: 6px;
		position: absolute;
		top: 16px;
		left: 0;
		background: url(../img/sprite.png) 0 -114px;
		}
.widget.widget_archive > select {
	background-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #eee #eee;
	font-size: 15px;
	padding: 8px;
	width: 100%;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	}
	.widget.widget_archive > select:hover {
		background-color: #f2f2f2;
		border-color: #aaa;
		}
	
/* ====================================
====== Calendar =======================
==================================== */
#wp-calendar {
	margin: 0;
	border-collapse: separate;
	width: 100%;
	}
	#wp-calendar caption {
		padding: 8px 20px 2px;
		background-color: #f2f2f2;
		}
		.l-subfooter #wp-calendar caption {
			background-color: #333;
			}
	#wp-calendar thead th,
	#wp-calendar tbody td,
	#wp-calendar tfoot td {
		padding: 0;
		border-bottom: 1px solid #e5e5e5;
		text-align: center;
		line-height: 30px;
		height: 30px;
		}
		.l-subfooter #wp-calendar thead th,
		.l-subfooter #wp-calendar tbody td,
		.l-subfooter #wp-calendar tfoot td {
			border-color: #333;
			line-height: 32px;
			height: 32px;
			}
	#wp-calendar thead th {
		font-size: 12px;
		font-weight: normal;
		color: #999;
		background-color: #f2f2f2;
		border-bottom: 1px solid #e5e5e5;
		}
		.l-subfooter #wp-calendar thead th {
			background-color: #333;
			border-color: #333;
			}
	#wp-calendar tbody td {
		font-size: 14px;
		}
		#wp-calendar tbody td a {
			display: block;
			font-weight: bold;
			}
			#wp-calendar tbody td a:hover {
				background-color: #f26500;
				border-bottom: none;
				color: #fff;
				}
	#wp-calendar tbody td#today {
		background-color: #f2f2f2;
		color: #222;
		}
		.l-subfooter #wp-calendar tbody td#today {
			background-color: #333;
			color: #fff;
			}
	#wp-calendar td#prev {
		text-align: left;
		padding-left: 10px;
		}
	#wp-calendar td#next {
		text-align: right;
		padding-right: 10px;
		}
		#wp-calendar td#next a:hover,
		#wp-calendar td#prev a:hover {
			border-bottom: 1px solid;
			}

/* ====================================
====== Categories =====================
==================================== */
.widget.widget_categories > ul {
	border-bottom: 1px solid #ddd;
	}
.l-subfooter .widget.widget_categories > ul {
	border-color: #333;
	}
	.widget.widget_categories ul li {
		font-size: 15px;
		line-height: 20px;
		border-top: 1px solid #ddd;
		padding: 10px 0 10px;
		position: relative;
		}
	.l-subfooter .widget.widget_categories ul li {
		border-color: #333;
		}
		.widget.widget_categories > ul > li:first-child {
			border-top: none;
			}
		.widget.widget_categories ul li a {
			margin-left: 20px;
			}
		.widget.widget_categories .children {
			margin: 10px 0 -10px;
			}
			.widget.widget_categories .children > li a {
				margin-left: 40px;
				}
			.widget.widget_categories .children .children > li a {
				margin-left: 60px;
				}
		.widget.widget_categories ul li:before {
			display: block;
			content: '';
			height: 9px;
			width: 6px;
			position: absolute;
			top: 16px;
			left: 0;
			background: url(../img/sprite.png) 0 -114px;
			}
			.widget.widget_categories .children > li:before {
				left: 20px;
				}
				.widget.widget_categories .children .children > li:before {
					left: 40px;
					}
	.widget.widget_categories > select {
		background-color: #f5f5f5;
		border-width: 1px;
		border-style: solid;
		border-color: #ccc #eee #eee;
		font-size: 15px;
		padding: 8px;
		width: 100%;
		-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
		}
		.widget.widget_categories > select:hover {
			background-color: #f2f2f2;
			border-color: #aaa;
			}
		
/* ====================================
====== Custom Menu ====================
==================================== */
.widget.widget_nav_menu .menu {
	border-bottom: 1px solid #ddd;
	}
	.widget.widget_nav_menu .menu-item a {
		display: block;
		padding: 13px 20px 14px 20px;
		font-size: 15px;
		line-height: 20px;
		border-top: 1px solid #ddd;
		border-right: 1px solid #ddd;
		position: relative;
		}
		.widget.widget_nav_menu .sub-menu > .menu-item > a {
			padding: 8px 20px 9px 40px;
			border-top: 1px solid #eee;
			font-size: 14px;
			}
			.widget.widget_nav_menu .sub-menu .sub-menu > .menu-item > a {
				padding: 8px 20px 9px 60px;
				border-top: 1px solid #eee;
				}
	.l-subfooter .widget.widget_nav_menu .menu,
	.l-subfooter .widget.widget_nav_menu .menu-item a,
	.l-subfooter .widget.widget_nav_menu .sub-menu > .menu-item > a,
	.l-subfooter .widget.widget_nav_menu .sub-menu .sub-menu > .menu-item > a {
		border-color: #333;
		border-right: none;
		}
		.widget.widget_nav_menu .menu-item a:hover {
			background-color: #f5f5f5;
			border-bottom: none;
			}
		.l-subfooter .widget.widget_nav_menu .menu-item a:hover {
			background-color: #333;
			}
		.widget.widget_nav_menu .menu-item.current-menu-item > a {
			background-color: #f26500;
			border-color: #f26500;
			color: #fff;
			border-right: none;
			}
		.widget.widget_nav_menu .menu-item.current-menu-item + .menu-item > a {
			border-top: 1px solid #fff;
			}
		.widget.widget_nav_menu .menu-item.current-menu-ancestor > a {
			font-weight: bold;
			}
			.widget.widget_nav_menu .menu-item.current-menu-item > a:after {
				display: block;
				content: '';
				height: 0;
				width: 0;
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -10px;
				border-bottom: 10px solid transparent;
				border-top: 10px solid transparent;
				border-right: 10px solid #fff;
				}
	.l-sidebar.at_right .widget.widget_nav_menu .menu-item a {
		border-right: none;
		border-left: 1px solid #ddd;
		}
		.l-sidebar.at_right .widget.widget_nav_menu .menu > .menu-item.current-menu-item > a {
			padding-left: 21px;
			border-left: none;
			}
		.l-sidebar.at_right .widget.widget_nav_menu .sub-menu > .menu-item.current-menu-item > a {
			padding-left: 41px;
			border-left: none;
			}
		.l-sidebar.at_right .widget.widget_nav_menu .sub-menu .sub-menu > .menu-item.current-menu-item > a {
			padding-left: 61px;
			border-left: none;
			}
		.l-sidebar.at_right .widget.widget_nav_menu .menu-item.current-menu-item > a:after {
			right: auto;
			left: 0;
			border-right: none;
			border-left: 10px solid #fff;
			}
			
/* ====================================
====== Meta ===========================
==================================== */
.widget.widget_meta ul {
	list-style-type: disc;
	margin-left: 22px;
	}
	.widget.widget_meta ul li {
		margin-bottom: 5px;
		}

/* ====================================
====== Pages ==========================
==================================== */
.widget.widget_pages ul {
	list-style-type: disc;
	margin-left: 22px;
	}
	.widget.widget_pages ul li {
		margin-bottom: 5px;
		}
		.widget.widget_pages .children {
			padding-top: 5px;
			}
			
/* ====================================
====== Recent Comments ================
==================================== */
.widget.widget_recent_comments .recentcomments {
	position: relative;
	font-size: 14px;
	line-height: 20px;
	padding-left: 25px;
	margin-bottom: 12px;
	}
	.widget.widget_recent_comments .recentcomments:before {
		display: block;
		content: '\f075';
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;
		font-size: 14px;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-align: center;
		font-variant: normal;
		text-transform: none;
		color: #999;
		}

/* ====================================
====== Recent Posts ===================
==================================== */
.widget.widget_recent_entries ul li {
	border-bottom: 1px solid #ddd;
	font-size: 15px;
	line-height: 20px;
	padding: 0 0 12px 20px;
	margin-bottom: 12px;
	position: relative;
	}
.l-subfooter .widget.widget_recent_entries ul li {
	border-color: #333;
	}
	.widget.widget_recent_entries ul li span {
		display: block;
		padding-top: 3px;
		font-size: 13px;
		color: #999;
		}
	.widget.widget_recent_entries ul li:before {
		display: block;
		content: '';
		height: 9px;
		width: 6px;
		position: absolute;
		top: 6px;
		left: 0;
		background: url(../img/sprite.png) 0 -114px;
		}

/* ====================================
====== RSS ============================
==================================== */
.widget.widget_rss .widgettitle a {
	padding-left: 28px;
	position: relative;
	}
	.widget.widget_rss .widgettitle a:first-child {
		display: none;
		}
	.widget.widget_rss .widgettitle a:before {
		display: block;
		content: '\f09e';
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		font-size: 24px;
		line-height: 20px;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-align: center;
		font-variant: normal;
		text-transform: none;
		color: #666;
		}
.widget.widget_rss ul li {
	border-bottom: 1px solid #ddd;
	line-height: 20px;
	padding-bottom: 12px;
	margin-bottom: 12px;
	}
.l-subfooter .widget.widget_rss ul li {
	border-color: #333;
	}
	.widget.widget_rss ul li a {
		font-size: 15px;
		}
	.widget.widget_rss ul li span {
		display: block;
		padding-top: 5px;
		font-size: 13px;
		color: #999;
		}
	.widget.widget_rss ul li cite {
		font-size: 13px;
		font-style: normal;
		color: #999;
		}
	.widget.widget_rss ul li div {
		display: block;
		font-size: 14px;
		padding: 6px 0;
		}

/* ====================================
====== Tags ===========================
==================================== */
.widget.widget_tag_cloud .tagcloud {
	overflow: hidden;
	}
	.widget.widget_tag_cloud .tagcloud a {
		float: left;
		background-color: #f2f2f2;
		font-size: 14px !important;
		padding: 3px 10px;
		margin: 0 3px 3px 0;
		text-decoration: none;
		}
	.l-subfooter .widget.widget_tag_cloud .tagcloud a {
		background-color: #333;
		}
		.widget.widget_tag_cloud .tagcloud a:hover {
			background-color: #f26500;
			color: #fff;
			}
			
/* ====================================
====== Text ===========================
==================================== */
.widget.widget_text input[type="text"],
.widget.widget_text textarea,
.widget.widget_text select {
	background-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #eee #eee;
	font-size: 15px;
	padding: 8px;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	}
.widget.widget_text select {
	width: 100%;
	}
	.widget.widget_text input[type="text"]:hover,
	.widget.widget_text input[type="email"]:hover,
	.widget.widget_text textarea:hover,
	.widget.widget_text select:hover {
		background-color: #f2f2f2;
		border-color: #aaa;
		}
	.widget.widget_text input[type="text"]:focus,
	.widget.widget_text input[type="email"]:focus,
	.widget.widget_text textarea:focus {
		background-color: #f2f2f2;
		border-color: #222;
		}

/* ====================================
====== WPML Plugin ====================
==================================== */
#lang_sel {
	height: auto;
	}
	#lang_sel li {
		width: 100%;
		}
	#lang_sel a,
	#lang_sel a:visited {
		font-size: 13px;
		line-height: 32px;
		border: 1px solid #ddd;
		padding-left: 14px;
		}
	#lang_sel a.lang_sel_sel {
		background: none;
		color: #333 !important;
		position: relative;
		}
		#lang_sel a.lang_sel_sel:after {
			display: block;
			content: '';
			position: absolute;
			top: 14px;
			right: 14px;
			height: 6px;
			width: 9px;
			background: url(../img/sprite.png) -12px -120px;
			}
	#lang_sel ul ul {
		border-top: 1px solid #ddd;
		top: 33px;
		width: 100%;
		}
		#lang_sel ul ul a,
		#lang_sel ul ul a:visited {
			color: #333 !important;
			line-height: 30px;
			padding: 0 14px;
			}
			
/* ====================================
====== WP-captions ====================
==================================== */
.g-html .wp-caption {
	line-height: 0;
	margin: 0 0 30px;
	max-width: 100%;
	position: relative;
	}
	.g-html .wp-caption img {
		width: 100%;
		}
	.g-html .wp-caption-text {
		display: block;
		font-size: 13px;
		text-align: center;
		border: 1px solid #ddd;
		border-top: 0;
		margin: 0 auto;
		padding: 5px 10px;
		}
.g-html .wp-caption.aligncenter {
	margin-left: auto;
	margin-right: auto;
	}
.g-html .wp-caption.alignleft {
	float: left;
	margin-right: 30px;
	}
.g-html .wp-caption.alignright {
	float: right;
	margin-left: 30px;
	}